on boot
    chown system system  /dev/goodix_fp
    chmod 0644 /dev/goodix_fp

on post-fs-data
    mkdir /data/system/users/0/fpdata
    chown system system /data/system/users/0/fpdata
    chmod 0777 /data/system/users/0/fpdata

    chown system system /data/system/users/0/fpdata/fpdb
    chmod 0777 /data/system/users/0/fpdata/fpdb

    chown system system /data/system/fingerprint
    chmod 0777 /data/system/fingerprint

    mkdir /data/system/fingerprint/0_0
    chown system system /data/system/fingerprint/0_0
    chmod 0777 /data/system/fingerprint/0_0


service gx_fpd /vendor/bin/gx_fpd
    class late_start
    user system
    group system 
