#allow priv_app aal_exec:file { open read };
allow priv_app adbd_exec:file { open read };

#type aee_aed_exec , exec_type, file_type;
#allow priv_app aee_aed_exec:file read;

#type atci_service_exec , exec_type, file_type;
#allow priv_app atci_service_exec:file read;

#type atcid_exec , exec_type, file_type;
#allow priv_app atcid_exec:file { open read };

#allow priv_app atrace_exec:file { open read };

#type audiocmdservice_atci_exec , exec_type, file_type;
#allow priv_app audiocmdservice_atci_exec:file read;

#type audioserver_exec, exec_type, file_type;
#allow priv_app audioserver_exec:file { open read };

#type batterywarning_exec , exec_type, file_type;
#allow priv_app batterywarning_exec:file { open read };

#type blkid_exec , exec_type, file_type;
#allow priv_app blkid_exec:file read;

allow priv_app bluetooth_data_file:dir getattr;

#type boot_logo_updater_exec, exec_type, file_type;
#allow priv_app boot_logo_updater_exec:file { open read };

allow priv_app bootanim_exec:file read;

allow priv_app cache_private_backup_file:dir getattr;
allow priv_app configfs:file getattr;
allow priv_app device:dir { open read };

#type dexoptanalyzer_exec, exec_type, file_type;
#allow priv_app dexoptanalyzer_exec:file { open read };

allow priv_app dnsmasq_exec:file { open read };

allow priv_app drmserver_exec:file read;

allow priv_app dumpstate_exec:file read;

allow priv_app e2fs_exec:file read;

#type em_svr_exec, exec_type, file_type;
#allow priv_app em_svr_exec:file read;

#type emdlogger_exec, exec_type, file_type;
#allow priv_app emdlogger_exec:file read;

#type factory_exec, exec_type, file_type;
#allow priv_app factory_exec:file read;

allow priv_app fsck_exec:file read;

allow priv_app gatekeeperd_exec:file read;

allow priv_app gx_fp_lib_file:file getattr;
allow priv_app gx_fpd_lib_file:file getattr;
allow priv_app mac_perms_file:file getattr;
allow priv_app mnt_media_rw_file:dir getattr;
allow priv_app nfc_data_file:dir getattr;
allow priv_app nvdata_file:dir getattr;
allow priv_app proc_interrupts:file read;
allow priv_app proc_modules:file { getattr open read };
allow priv_app protect_s_data_file:dir read;

allow priv_app racoon_exec:file read;

allow priv_app radio_data_file:dir getattr;
allow priv_app rootfs:blk_file getattr;

allow priv_app sdcardd_exec:file read;

allow priv_app sepolicy_file:file { getattr open read };

allow priv_app servicemanager_exec:file { open read };

allow priv_app sgdisk_exec:file { open read };

#type sn_exec, exec_type, file_type;
#allow priv_app sn_exec:file { open read };

#type storaged_exec, exec_type, file_type;
#allow priv_app storaged_exec:file { open read };

#type storagemanagerd_exec, exec_type, file_type;
#allow priv_app storagemanagerd_exec:file read;

#type surfaceflinger_exec, exec_type, file_type;
#allow priv_app surfaceflinger_exec:file { open read };

allow priv_app system_app_data_file:dir getattr;

#type thermald_exec, exec_type, file_type;
#allow priv_app thermald_exec:file { open read };

#type thermalindicator_exec, exec_type, file_type;
#allow priv_app thermalindicator_exec:file { open read };

allow priv_app vndservice_contexts_file:file getattr;
allow priv_app wifi_prop:file { getattr open read };
