allow vendor_shell_exec debug_prop:file { getattr open read };
allow vendor_shell_exec device:dir search;
allow vendor_shell_exec init:fd use;
allow vendor_shell_exec init:process sigchld;
allow vendor_shell_exec labeledfs:filesystem getattr;
allow vendor_shell_exec null_device:chr_file { read write };
allow vendor_shell_exec proc:lnk_file read;
allow vendor_shell_exec proc_overcommit_memory:file read;
allow vendor_shell_exec properties_device:dir getattr;
allow vendor_shell_exec properties_serial:file { getattr open read };
allow vendor_shell_exec property_contexts_file:file { getattr open read };
allow vendor_shell_exec random_device:chr_file read;
allow vendor_shell_exec same_process_hal_file:dir getattr;
allow vendor_shell_exec self:dir search;
allow vendor_shell_exec self:file { entrypoint getattr read };
allow vendor_shell_exec self:lnk_file read;
allow vendor_shell_exec self:process sigchld;
allow vendor_shell_exec system_file:dir getattr;
allow vendor_shell_exec system_file:file { execute getattr open read };
allow vendor_shell_exec vendor_configs_file:dir search;
allow vendor_shell_exec vendor_file:dir getattr;
allow vendor_shell_exec vendor_file:file { execute getattr open read };
allow vendor_shell_exec vendor_hal_file:dir getattr;

